<style type="text/css">
BODY { color: #000000; font-family: Verdana, Arial; font-size: 11px; }
B { font-family: Verdana, Arial; font-size: 12px; }
TD { font-family: Verdana, Arial; font-size: 11px; }
INPUT { font-family: Verdana, Arial; font-size:11px; }
H2 { font-family: Verdana, Arial; font-size: 15px;}
A { font-family: Verdana, Arial; font-size: 11px; }
FORM {  font-family: Verdana, Arial; font-size: 11px; 
</style>